# ignore git and cache folders
.git
.cache

# ignore markdown files
*.md
!README.md

# ignore sensitive files
*_pwd.txt
secrets/

# Custom attributes
**/.DS_Store

# Test binary, built with `go test -c`
*.test

# Output files
*.out

# Dependency directories
